:root{
--primary-color:yellow;
--secondary-color:#98FB98;
}
body{
    text-align: center;
    background-color: var(--primary-color);
    padding:100px ;
}
#txt-input,#output{
    border-radius: 20px;
    background-color: var(--secondary-color);
}
#btn-translate{
width:150px;
height: 30px;
margin-bottom: 50px;
}